<h2>New Customer form</h2>
<form #customerForm="ngForm" (ngSubmit)="createCustomer(customerForm)">
  <label for="name">Name</label>
  <input id="name" type="text" name="name" minlength="5" ngModel required #name="ngModel" [(ngModel)]="newCustomer.name" />
  <small *ngIf="name.invalid">Please enter a name with minimum 5 characters</small>
  <label for="type">Customer Type</label>
  <select id="type" name="type" required #type="ngModel" ngModel placeholder="Please Select"
          [(ngModel)]="newCustomer.customerTypeId">
    <option [ngValue]="null" selected>Please select</option>
    <option *ngFor="let t of types" value="{{t.customerTypeId}}">{{t.description}}</option>
  </select>
  <small *ngIf="type.invalid">Please select a Type</small>
  <button type="submit" [disabled]="customerForm.invalid">Add Customer</button>
</form>

<h2>Customer list</h2>
<table spacing="0">
  <thead>
  <tr>
    <th>Name</th>
    <th>CustomerType</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of customers">
    <td>{{c.name}}</td>
    <td>{{c.customerType}}</td>
    <td>
      <a [routerLink]="['/customer', c.customerId]">Open</a>
    </td>
  </tr>
  </tbody>
</table>
